[mgr]
ratio          = [ 2, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "size_and_mtime"
show_hidden    = true
show_symlink   = true
scrolloff      = 5

[input]
cursor_blink = false

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 1000
max_height      = 1000
image_delay     = 30

[opener]
edit = [
  { run = '$EDITOR "$@"', block = true, for = "unix" }
]
play = [
  { run = 'open -a IINA "$@"', desc = "IINA", orphan = true }
]
open = [
	{ run = 'open "$@"', desc = "Open", for = "macos" },
]
reveal = [
	{ run = 'open -R "$1"',                         desc = "Reveal", for = "macos" },
	{ run = '''clear; exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]

